body {
  background-color: cyan;
  color: tomato;
  text-align: center;
  font-size: auto;
}
.navbar {
  margin-bottom: 25px;
  font-style: italic;
}
.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}
