body {
  background-color: rgb(47, 186, 186);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: tomato;
}
.navbar {
  background-color: darkgrey;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: italic;
}
.conteiner {
  background-color: darkgrey;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: italic;
}
h3 {
  text-align: center;
  max-width: 540px;
}
